.Header {
  height: 100vh;
  background-color: #303A47;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 36px;
  padding: 1%;
  color: white;
  flex-grow: 1;
}

.Header-content {
  display: flex;
  flex-direction: column;
}

.Header #Refresh {
  flex-grow: 1;
  position: relative;
  top: 85vh;
}

.Header #Settings {
  flex-grow: 1;
  position: relative;
  top: 87vh;
}
